<% layout('/layouts/boilerplate') %>
    <section class="card shadow p-3 mb-3 mt-3 bg-body rounded">
        <h2 class="title">
            <%= question.title %>
        </h2>
        <hr>
        <article class="description m-3">
            <%- question.description %>
        </article>
        <article class="tags m-1 d-flex flex-row flex-wrap">
            <% for(let i = 0; i < question.tags.length; i++){ %>
            <div class="tag-card">
                <a href="/questions/tags/<%= question.tags[i] %>"> <%= question.tags[i] %> </a>
            </div>
            <% } %>
        </article>
        <hr>
            <div class="description text-muted container cardFooter">
                <div class="row">
                    <div class="col-sm">Modified at <%= question.updatedAt %></div>
                    <div class="col-sm">Created at <%= question.createdAt %></div>
                </div>
            </div>
    </section>

    <section class="card shadow p-3 mb-3 mt-3 bg-body rounded">
        <h2>
            Comments:
        </h2>
        <% for(let i = comments.length - 1; i >= 0; i--){ %>
            <article class="card">
                <div class="card-body">
                    <h5 class="name card-title comments-name">
                        <%= comments[i].user.name %> 
                    </h5> 
                    <p class="comment card-text comments-comment">               
                        <%= comments[i].comment %>  
                    </p>
                    <p class="card-subtitle mb-2 comments-date">
                        <%= comments[i].createdAt %>
                    </p>  
                    <% if (user._id.toString() === comments[i].user._id.toString()) { %>
                        <form class="d-inline" action="/user/comments/edit/<%= question._id %>/<%= comments[i]._id %>?_method=PATCH" method="POST">
                            <button class="btn btn-primary">Edit</button>
                        </form>
                        <form class="d-inline" action="/user/comments/delete/<%= question._id %>/<%= comments[i]._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </article>  
        <% } %>
    </section>
    <section class="card shadow p-3 mb-3 mt-3 bg-body rounded">
        <% if (user) { %>
            <h2>
                Leave A Comment:
            </h2>
            <form action="/questions/<%= question.id %>" method="post">
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment: </label><br>
                    <textarea id ="comment" placeholder="comment(required)"
                    name="comment" cols="30" rows="3" class="form-control" required></textarea>
                </div>
                <input type="hidden" id="user" name="user" value="<%= user._id %>">
                <button class="btn btn-primary">Comment</button>
            </form>
        <% } else { %>
            <a href="/auth/login">Login to Comment</a>
            <% } %>
    </section>
    
    <script>
        try {
                const res = fetch('/questions/viewcount', {
                    method: 'POST',
                    body: JSON.stringify({
                        url: location.pathname
                    }),
                    headers: { 'Content-Type': 'application/json' }
                });
        } catch (err) {
            console.log(err);
        }
    </script>
